version: '3.7'

services:
  test:
    container_name: test
    image: index.docker.io/niel5343/test
    ports:
      - "5000:5000"
    depends_on:
      - prometheus
      - grafana
    networks:
      - local
    deploy:
      replicas: 4
      update_config:
        parallelism: 1
        delay: 20s
        order: start-first
    logging:
      driver: loki
      options:
        loki-url: "http://142.93.101.173/loki/api/v1/push"
        
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - local
    deploy:
      placement:
        constraints: [node.role == manager]
      
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana-storage:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3001:3000"
    user: "104"
    networks:
      - local
      - loki
    deploy:
      placement:
        constraints: [node.role == manager]
        
  loki:
    image: grafana/loki:2.0.0
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - loki
      - local
    deploy:
      placement:
        constraints: [node.role == manager]

networks: 
  local:
    driver: overlay
    attachable: true
  loki:
volumes:
  grafana-storage:
